absl-py==2.3.1
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
annotated-types==0.7.0
astunparse==1.6.3
async-timeout==5.0.1
attrs==25.4.0
cachetools==6.2.4
certifi==2026.1.4
charset-normalizer==3.4.4
cheroot==11.1.2
chex==0.1.90
decorator==5.2.1
einshape==1.0
etils==1.13.0
flatbuffers==25.12.19
flax==0.12.2
frozenlist==1.8.0
fsspec==2025.12.0
gast==0.7.0
gcsfs==2025.12.0
google-api-core==2.28.1
google-auth==2.41.1
google-auth-oauthlib==1.2.3
google-cloud-core==2.5.0
google-cloud-storage==3.7.0
google-cloud-storage-control==1.8.0
google-crc32c==1.8.0
google-pasta==0.2.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
grpc-google-iam-v1==0.14.3
grpcio==1.76.0
grpcio-status==1.76.0
gviz-api==1.10.0
h5py==3.15.1
humanize==4.15.0
idna==3.11
immutabledict==4.2.2
importlib_resources==6.5.2
jaraco.functools==4.4.0
jax==0.8.2
jaxlib==0.8.2
jaxtyping==0.3.5
keras==3.12.0
libclang==18.1.1
libtpu==0.0.32
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
ml_dtypes==0.5.4
more-itertools==10.8.0
msgpack==1.1.2
multidict==6.7.0
namex==0.1.0
nest-asyncio==1.6.0
numpy==2.2.6
oauthlib==3.3.1
opt_einsum==3.4.0
optax==0.2.6
optree==0.18.0
orbax-checkpoint==0.11.31
packaging==25.0
pillow==12.1.0
propcache==0.4.1
proto-plus==1.27.0
protobuf==6.33.2
psutil==7.2.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
PyYAML==6.0.3
qwix==0.1.5
requests==2.32.5
requests-oauthlib==2.0.0
rich==14.2.0
rsa==4.9.1
scipy==1.15.3
simplejson==3.20.2
six==1.17.0
tabulate==0.9.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorboard_plugin_profile==2.21.3
tensorflow==2.20.0
tensorstore==0.1.78
termcolor==3.3.0
tokamax==0.0.8
toolz==1.1.0
tqdm==4.67.1
treescope==0.1.10
tune_jax @ git+https://github.com/rdyro/tune-jax.git@38967ef6514fc8f89bdd1656d91dba4b01d07ecc
typeguard==2.13.3
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.2
wadler_lindig==0.1.7
Werkzeug==3.1.4
wrapt==2.0.1
xprof==2.21.3
yarl==1.22.0
zipp==3.23.0